<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gissa det hemliga talet</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="page">
        <h1>Gissa det hemliga talet</h1>
        <div id="line"></div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</body>
</html>
