@model Laboration1._1.Models.SecretNumber

<h1>Gissa det hemliga talet</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="inputDiv">
        <div class="form-group">
            @Html.LabelFor(model => model.Number)
            @Html.EditorFor(model => model.Number, null, new { maxlength = 3 })
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="form-group">
            <input type="submit" value="Skicka gissning" />
        </div>
    </div>
}